Project_EcommerceWebsite/WebContent/wsdl/CustomerStatus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ecommerceWebsite" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ecommerceWebsite" xmlns:intf="http://ecommerceWebsite" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ecommerceWebsite" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCustomerStatus">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerStatusResponse">
    <complexType>
     <sequence>
      <element name="getCustomerStatusReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerStatusResponse">

      <wsdl:part element="impl:getCustomerStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerStatusRequest">

      <wsdl:part element="impl:getCustomerStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerStatus">

      <wsdl:operation name="getCustomerStatus">

         <wsdl:input message="impl:getCustomerStatusRequest" name="getCustomerStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerStatusResponse" name="getCustomerStatusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerStatusSoapBinding" type="impl:CustomerStatus">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCustomerStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerStatusService">

      <wsdl:port binding="impl:CustomerStatusSoapBinding" name="CustomerStatus">

         <wsdlsoap:address location="http://localhost:8080/Project_EcommerceWebsite/services/CustomerStatus"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
