stock_availability_interface/WebContent/wsdl/stock_information.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStockInformation">
    <complexType>
     <sequence>
      <element name="ProductName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStockInformationResponse">
    <complexType>
     <sequence>
      <element name="getStockInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStockInformationResponse">

      <wsdl:part element="impl:getStockInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStockInformationRequest">

      <wsdl:part element="impl:getStockInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="stock_information">

      <wsdl:operation name="getStockInformation">

         <wsdl:input message="impl:getStockInformationRequest" name="getStockInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStockInformationResponse" name="getStockInformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="stock_informationSoapBinding" type="impl:stock_information">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStockInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStockInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStockInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="stock_informationService">

      <wsdl:port binding="impl:stock_informationSoapBinding" name="stock_information">

         <wsdlsoap:address location="http://localhost:8080/Ecommerce/services/stock_information"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
