ECommerceProject/WebContent/wsdl/UpdateOrderInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateOrder">
    <complexType>
     <sequence>
      <element name="orderId" type="xsd:int"/>
      <element name="newOrderDate" type="xsd:string"/>
      <element name="newTotalAmount" type="xsd:string"/>
      <element name="newOrderStatus" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateOrderResponse">
    <complexType>
     <sequence>
      <element name="updateOrderReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateOrderResponse">

      <wsdl:part element="impl:updateOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateOrderRequest">

      <wsdl:part element="impl:updateOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UpdateOrderInformation">

      <wsdl:operation name="updateOrder">

         <wsdl:input message="impl:updateOrderRequest" name="updateOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateOrderResponse" name="updateOrderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UpdateOrderInformationSoapBinding" type="impl:UpdateOrderInformation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UpdateOrderInformationService">

      <wsdl:port binding="impl:UpdateOrderInformationSoapBinding" name="UpdateOrderInformation">

         <wsdlsoap:address location="http://localhost:8080/ECommerceProject/services/UpdateOrderInformation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
