ECommerceProject/WebContent/wsdl/ViewAllOrders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrders">
    <complexType/>
   </element>
   <element name="getOrdersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOrdersReturn" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Order">
    <sequence>
     <element name="orderDate" nillable="true" type="xsd:string"/>
     <element name="orderId" type="xsd:int"/>
     <element name="orderStatus" nillable="true" type="xsd:string"/>
     <element name="totalAmount" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrdersRequest">

      <wsdl:part element="impl:getOrders" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrdersResponse">

      <wsdl:part element="impl:getOrdersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ViewAllOrders">

      <wsdl:operation name="getOrders">

         <wsdl:input message="impl:getOrdersRequest" name="getOrdersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrdersResponse" name="getOrdersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ViewAllOrdersSoapBinding" type="impl:ViewAllOrders">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ViewAllOrdersService">

      <wsdl:port binding="impl:ViewAllOrdersSoapBinding" name="ViewAllOrders">

         <wsdlsoap:address location="http://localhost:8080/ECommerceProject/services/ViewAllOrders"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
