Customer_Interface/WebContent/wsdl/SearchCustomer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ecommerceWebsite" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ecommerceWebsite" xmlns:intf="http://ecommerceWebsite" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ecommerceWebsite" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchCustomerInfo">
    <complexType>
     <sequence>
      <element name="CustomerID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCustomerInfoResponse">
    <complexType>
     <sequence>
      <element name="searchCustomerInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchCustomerInfoRequest">

      <wsdl:part element="impl:searchCustomerInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCustomerInfoResponse">

      <wsdl:part element="impl:searchCustomerInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SearchCustomer">

      <wsdl:operation name="searchCustomerInfo">

         <wsdl:input message="impl:searchCustomerInfoRequest" name="searchCustomerInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchCustomerInfoResponse" name="searchCustomerInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SearchCustomerSoapBinding" type="impl:SearchCustomer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchCustomerInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCustomerInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCustomerInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SearchCustomerService">

      <wsdl:port binding="impl:SearchCustomerSoapBinding" name="SearchCustomer">

         <wsdlsoap:address location="http://localhost:8080/Project_EcommerceWebsite/services/SearchCustomer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
