INTERFACES/InsertOrderInformationInterface/WebContent/wsdl/InsertOrderInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setOrderInformation">
    <complexType>
     <sequence>
      <element name="orderDate" type="xsd:string"/>
      <element name="totalAmount" type="xsd:string"/>
      <element name="orderStatus" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setOrderInformationResponse">
    <complexType>
     <sequence>
      <element name="setOrderInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setOrderInformationRequest">

      <wsdl:part element="impl:setOrderInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setOrderInformationResponse">

      <wsdl:part element="impl:setOrderInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InsertOrderInformation">

      <wsdl:operation name="setOrderInformation">

         <wsdl:input message="impl:setOrderInformationRequest" name="setOrderInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:setOrderInformationResponse" name="setOrderInformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InsertOrderInformationSoapBinding" type="impl:InsertOrderInformation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setOrderInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setOrderInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setOrderInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InsertOrderInformationService">

      <wsdl:port binding="impl:InsertOrderInformationSoapBinding" name="InsertOrderInformation">

         <wsdlsoap:address location="http://localhost:8080/ECommerceWebsiteProject/services/InsertOrderInformation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
