ECommerceWebsiteProject/WebContent/wsdl/RetrieveOrderInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrderInformation">
    <complexType>
     <sequence>
      <element name="orderId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrderInformationResponse">
    <complexType>
     <sequence>
      <element name="getOrderInformationReturn" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Order">
    <sequence>
     <element name="orderDate" nillable="true" type="xsd:string"/>
     <element name="orderId" type="xsd:int"/>
     <element name="orderStatus" nillable="true" type="xsd:string"/>
     <element name="totalAmount" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrderInformationResponse">

      <wsdl:part element="impl:getOrderInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrderInformationRequest">

      <wsdl:part element="impl:getOrderInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RetrieveOrderInformation">

      <wsdl:operation name="getOrderInformation">

         <wsdl:input message="impl:getOrderInformationRequest" name="getOrderInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrderInformationResponse" name="getOrderInformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RetrieveOrderInformationSoapBinding" type="impl:RetrieveOrderInformation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrderInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrderInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrderInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RetrieveOrderInformationService">

      <wsdl:port binding="impl:RetrieveOrderInformationSoapBinding" name="RetrieveOrderInformation">

         <wsdlsoap:address location="http://localhost:8080/ECommerceWebsiteProject/services/RetrieveOrderInformation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
